
* {
    font-family: 'Noto Sans TC', sans-serif;
}

table {
    width: 60%;
    height: 70%;
    border: 1px white solid;
    border-radius: 10px;
    line-height: 1.5;
    padding: 1rem;
   
}

th,
td {
    border: 1px white solid;
    border: 2px #ffb5a7 solid;
    background-color: #fcd5ce;
    padding-left: 10px;
   
}
.pointers{
    color: #f4978e !important;
}
