
* {
    font-family: 'Noto Sans TC', sans-serif;
}

table {
    width: 50%;
    height: 60%;
    border: 1px white solid;
    border-radius: 10px;
    line-height: 1.5;
}

th,
td {
    border: 1px white solid;
    border: 2px #ffb5a7 solid;
    background-color: #fcd5ce;
   
}
.pointers{
    color: #f4978e !important;
}
